/* 
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif;
*/

/*----- START OF CSS -----*/
* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow Semi Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  font-family: "EB Garamond", serif;
}

/*----- TOP HEADER PICTURE -----*/
#header-menu {
  padding: 0 25px;
  margin: 20px 0;
  margin-top: 0;
  background-color: #20410c;
}

img.header-picture {
  width: 250px;
}

#header-menu .header-choices {
  float: right;
  font-size: 24px;
  height: 100%;
  margin: 3% 1%;
  text-decoration: none;
  color: #fd1d1d;
  font-family: "Dancing Script", cursive;
}

#header-menu a:hover {
  color: white;
}

/*----- FOOTER -----*/
.column .instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 200px; /* change this to change the size*/
}

.column .tiktok {
  color: #111111;

  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}

#foot div.container {
  margin-left: 10%;

  padding-top: 3%;
  padding-bottom: 0;
}

#foot {
  width: 100%;
  height: 200px;
  background-color: #20410c;
}

#foot .ig {
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #fb3958;
  padding: 10px 12px;
  margin: 5px;
}

#foot .fb {
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #1877f2;
  padding: 10px 12px;
  margin: 5px;
}

#foot .fab {
  right: 35%;
  float: right;
  position: relative;
  line-height: 1;
  text-decoration: none;
  font-size: 30px;
  margin: 1.5%;
}

#foot p {
  margin: 0 auto;
  color: white;
  text-align: center;
}

#foot .stc {
  font-size: 30px;
  text-transform: uppercase;
}

#foot .t {
  font-size: 22px;
}

#foot .row .column {
  width: 50%;
}

#foot .social {
  color: white;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}