/* 
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif;
*/

* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  background-color: #1a3d053d;
}

h2 {
  font-family: "Dancing Script", cursive;
}

/* ----- HEADER ----- */
#header-menu {
  padding: 0 25px;
  margin: 20px 0;
  margin-top: 0;
  background-color: #20410c;
}

img.header-picture {
  width: 250px;
  position: relative;
  right: 289px;
}

#header-menu .header-choices {
  font-family: "Dancing Script", cursive;
  float: right;
  font-size: 24px;
  height: 100%;
  margin: 3% 1%;
  text-decoration: none;
  color: #fd1d1d;
}

#header-menu a:hover {
  color: white;
}

/*--------MENU ITEMS/ENTREES--------*/
.rightItems,
.leftItems,
.rightEntrees,
.leftEntrees {
  margin: 1% auto;
  text-align: left;
}

/*----SPAN CLASSES FOR MENU SECTIONS-----*/
.msb {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  padding-top: 3%;
}

.msb1 {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  padding-top: 3%;
}

/*-------------------------- MENU CSS -------------------------*/

/*--------------TOP OF CATERING PAGE----------------*/
#top-catering {
  padding: 0 2%;
}

.fine-catering {
  background-image: url(/images/mini-buffet.jpg);
  align-content: center;
  width: 100%;
  height: 650px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  image-orientation: from-image;
}

.our-menu {
  letter-spacing: 2px;
  margin: 0 0 -30px 0;
  padding: 8% 0 0 0;
  font-family: "Dancing Script", cursive;
  font-size: 200px;
  color: white;
  text-shadow: 5px 5px 5px black, 5px 5px 5px black;
}

.catering-links {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 0 0.5%;
  letter-spacing: 1.5px;
  text-decoration: none;
  display: inline-block;
  top: 5%;
}

.catering-links:hover {
  color: red;
}

.our-description {
  color: white;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
}

/*---------------CATERING and PICTURE SECTION--------------------*/

#catering-memo {
  font-family: "Roboto Slab", serif;
  margin: -3% auto;
  padding: 12% 0 0 0;
  background-color: #e0ddda;
  width: 100%;
}

.top-memo {
  color: black;
  margin: 2% auto;
  width: 65%;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 40px;
}

.catering {
  font-size: 100px;
  text-transform: uppercase;
  color: red;
  text-shadow: 3px 3px rgb(255, 255, 109);
}

.picture-row img {
  text-align: center;
  margin: 8% 2% -3% 2%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
/* 
img[class^="img-center"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
} */

/*----------------MEXICAN MENU SECTION------------------------*/
div.menu-card {
  height: 100%;
  background-color: #e0ddda;
}

.mexicanMenu {
  margin: 0 5%;
  padding: 0;
  padding-bottom: 1%;
}

#menu-section h1 {
  margin: 15% 0 2% 0;
  text-transform: uppercase;
  color: #20410c;
  text-shadow: 2px 2px white;
  font-family: "EB Garamond", serif;
}

.our-menu-column h2 {
  font-family: "Dancing Script", cursive;
  margin: 8% 0;
}

.our-menu-column p {
  margin: 0 auto;
  letter-spacing: 1px;
  font-family: "Roboto Slab", serif;
}

.our-menu-column li {
  list-style: disc;
  text-align: left;
  color: #555;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
}

.mexicanDisclosure {
  font-size: 12px;
  width: 90%;
  text-align: left;
  padding: 1%;
}

/*------------------AMERICAN MENU CSS--------------------*/

.american-menu .twentyFourLong {
  width: 100%;
  height: 670px;
}

.american-menu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.mericaListMenu {
  padding: 0;
  padding-left: 25%;
  margin: 3% 0;
}

.americanPriceTop {
  padding-top: 5%;
  margin: 0 10%;
}

.americanPriceBottom {
  margin: 0 10%;
}

.americanDisclosure {
  margin: 0;
  text-align: left;
  padding-left: 40%;
}

/*-----------ITALIAN CSS-----------------*/
.italian-menu .italian-table {
  width: 100%;
  height: 670px;
}

.italian-menu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.italianPriceTop {
  padding-top: 5%;
  margin: 0 10%;
}

.italianPriceBottom {
  margin: 0 10%;
}

.italianListMenu {
  padding-left: 25%;
  margin: 3% 0;
}

.italianDisclosure {
  text-align: left;
  margin: 0;
  padding-left: 40%;
}

/*---------------APPETIZER CSS----------------------*/
.appMenu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.appMenu .app-picture {
  width: 100%;
  height: 670px;
}

.appQuoteTop {
  padding-top: 5%;
  margin: 0 10%;
}

.appQuoteBottom {
  margin: 0 10%;
}

.appItems {
  text-align: left;
  padding-left: 40%;
}

.appDisclosure {
  padding-left: 40%;
  text-align: left;
  margin: 0;
}

/*--------PICNIC CSS---------------*/
.picnicMenu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.picnicMenu .picnic-picture {
  width: 100%;
  height: 670px;
}

.picnicQuoteTop {
  padding-top: 5%;
  margin: 0 10%;
}

.picnicQuoteBottom {
  margin: 0 10%;
}

.leftPicnicItems {
  text-align: left;
  padding-left: 25%;
}

.rightPicnicItems {
  text-align: left;
  padding-left: 25%;
}

.picnicDisclosure {
  margin: 0;
}

/*----- FOOTER -----*/

.column .instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 200px; /* change this to change the size*/
}

.column .tiktok {
  color: #111111;

  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}

#foot div.container {
  margin-left: 10%;

  padding-top: 3%;
  padding-bottom: 0;
}

#foot {
  width: 100%;
  height: 200px;
  background-color: #20410c;
  margin-top: 50px;
}

#foot .ig {
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #fb3958;
  padding: 10px 12px;
  margin: 5px;
}

#foot .fb {
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #1877f2;
  padding: 10px 12px;
  margin: 5px;
}

#foot .fab {
  right: 35%;
  float: right;
  position: relative;
  line-height: 1;
  text-decoration: none;
  font-size: 30px;
  margin: 1.5%;
}

#foot p {
  margin: 0 auto;
  color: white;
  text-align: center;
}

#foot .stc {
  font-size: 30px;
  text-transform: uppercase;
}

#foot .t {
  font-size: 22px;
}

#foot .row .column {
  width: 50%;
}

#foot .social {
  color: white;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

/* ----------
----- MOBILE CSS -----
------------------------------- */
@media screen and (max-width: 750px) {
  .center-box {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  body,
  html {
    width: 80%;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  body,
  html,
  div.text,
  .column,
  .our-services {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* ----- HEADER ----- */
  section#header-menu {
    padding-left: 0;
    margin-left: 0;
  }

  #header-menu a {
    font-size: 20px;
    margin-top: 10%;
  }

  a.contact,
  a.home {
    margin: 0 2%;
  }

  .vertical-line {
    right: 20.5%;
    color: #fd1d1d;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    top: 5.7%;
  }

  #header-menu img {
    width: 200px;
  }

  /* ----- FOOTER ----- */
  #foot div.container {
    margin-left: 5%;
    margin-top: 5%;
    padding-top: 11%;
    padding-bottom: 0;
  }

  #foot .stc {
    font-size: 20px;
  }

  #foot .t {
    font-size: 15px;
  }

  #foot .copy {
    font-size: 12px;
  }

  #foot .social {
    font-size: 20px;
  }

  #foot .fab {
    font-size: 24px;
    right: 25%;
    padding-top: 1%;
  }
}
