/*----- FONT STYLES -----*/

/* font-family: 'Corinthia', cursive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Lora', serif; */
/* font-family: 'Luxurious Roman', cursive; */
/* font-family: 'Meow Script', cursive; */
/* font-family: 'Roboto Slab', serif; */
/* font-family: 'The Nautigal', cursive; */
/* font-family: 'Dancing Script', cursive; */

/*----- START OF CSS -----*/
* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  font-family: "Luxurious Roman", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  font-family: "Dancing Script", cursive;
}

/*----- TOP HEADER PICTURE -----*/
#header-menu {
  padding: 0 25px;
  margin: 20px 0;
}

img.header-picture {
  height: 100px;
}

a.fab {
  float: right;
  font-size: 24px;
  padding-top: 2.5%;
  text-decoration: none;
  color: #fd1d1d;
}

.header-contact {
  float: right;
  margin: 0 auto;
  padding: 2.4%;
}

/*----- COLLAGE PICTURE SECTION -----*/
.picture-row {
  padding: 0 20px;
}

img {
  position: relative;
}

img.backyard-mobile {
  display: none;
}

/*----- CENTER BOX IN TOP IMAGE -----*/
.center-box {
  background: #20410cb6;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 5%;
}

.box-text {
  color: white;
  font-size: 40px;
  margin-bottom: 25px;
}

.BtnWhite,
a.BtnWhite {
  color: #20410c;
  background: #fff;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  width: auto;
}

.BtnWhite:hover {
  background-color: #20410c;
  color: white;
  border: #fff 1px solid;
}

.image-and-text {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 20px;
}

img.solo-image {
  display: flex;
  overflow: hidden;
  transform: rotate(45deg);
  width: 500px;
  height: 500px;
}

.text {
  margin-left: 150px;
  width: 35%;
}

.text p {
  font-size: 16px;
  margin-bottom: 30px;
}

.text h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/*----- CATERING SERVICES SECTION -----*/

.our-services {
  margin-top: 15%;
  height: 100%;
  background-color: #20410c;
  background-image: url(images/green-stripes.jpg);
}

.services-row {
  border: 5px double #20410c;
  padding: 50px;
  background-color: #fff;
}

.services-text {
  text-align: center;
  margin-bottom: 50px;
}

.service-col {
  width: 33.33%;
  height: 350px;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  padding: 8% 0;
}

div.service-col img {
  height: 100%;
  width: 100%;
}

.service-col h3 {
  text-transform: uppercase;
  font-family: "Luxurious Roman", cursive;
}

/*----- THREE BOXES SECTION -----*/
.boxes {
  height: 100%;
  text-align: center;
}

div.row.three-boxes {
  margin: 0 auto;
}

.three-boxes {
  background-color: #fff;
  width: 100%;
}

.unbelievable,
.inspired,
.one-kind {
  width: 30%;
  text-align: left;
  padding: 40px 24px;
  margin: 0 auto;
}

.column h6 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Luxurious Roman", cursive;
}

.column p {
  margin-bottom: 0;
}

/*----- CLIENT SECTION -----*/
.clients {
  padding-bottom: 8%;
}
.clients .cliental {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 32px;
}

.clients .prestige {
  width: 30%;
  margin: auto;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 75px;
}

.clients img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/*----- FOOTER -----*/
.footer {
  width: 100%;
  background-color: #20410c;
}

#foot .ig {
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #fb3958;
  padding: 10px 12px;
  margin: 5px;
}

#foot .fb {
  border-radius: 3px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #1877f2;
  padding: 10px 12px;
  margin: 5px;
}

#foot .fb,
.ig {
  right: 40%;
  position: relative;
  line-height: 1;
}

.footer p {
  margin: 0 auto;
  color: white;
  text-align: center;
}

.footer .stc {
  font-size: 30px;
  text-transform: uppercase;
}

.footer .t {
  font-size: 22px;
}

.footer .row .column {
  width: 50%;
}

.footer .social {
  color: white;
  font-size: 30px;
  text-decoration: underline 2px white;
}

/*----- MOBILE CSS -----*/

@media screen and (max-width: 750px) {
  .center-box {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  body,
  html {
    width: 80%;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  body,
  html,
  div.text,
  .column,
  .our-services {
    width: 100%;
  }

  .image .solo-image {
    display: none;
  }

  .picnic,
  .dessert,
  .table,
  .backyard {
    display: none;
  }

  div.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  section#header-menu {
    padding-left: 0;
  }

  .header-contact {
    float: right;
    margin: 0 auto;
    margin-top: 8%;
    padding-right: 0;
  }

  img.backyard-mobile {
    display: block;
  }

  .text h1 {
    text-align: center;
    margin-top: 10%;
  }

  div.text {
    float: left;
    margin-left: 0;
    margin-bottom: -50px;
  }

  .our-services {
    height: 100%;
  }

  .services-text {
    margin: 20px 0;
  }

  .service-col img {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .services-row {
    border: 5px double #20410c;
    background-color: #fff;
    width: 75%;
    margin: 20px auto;
  }

  div.row.services-row {
    padding: 0;
  }

  .unbelievable,
  .inspired,
  .one-kind {
    text-align: left;
    width: 75%;
    height: 75%;
    padding: 50px 25px;
    margin: 20px auto;
  }

  .column h6 {
    text-align: center;
  }

  .clients .prestige {
    width: 75%;
  }

  .clients img {
    margin-top: -5%;
  }

  a.fab {
    font-size: 15px;
    padding-top: 11%;
    text-decoration: none;
    color: #fd1d1d;
  }

  .header-contact {
    font-size: 12px;
  }

  #foot .stc {
    font-size: 20px;
  }

  #foot .t {
    font-size: 15px;
  }

  #foot .copy {
    font-size: 12px;
  }

  #foot .social {
    font-size: 20px;
  }

  #foot .fab {
    font-size: 15px;
    right: 30%;
  }
}
