* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  background-color: #fef5ed;
  width: 100%;
  overflow-x: hidden;
}

/*----- TOP HEADER PICTURE -----*/
#header-menu {
  padding: 0 25px;
  margin: 20px 0;
}

.header-picture img {
  height: 100px;
}

.row {
  padding: 0 20px;
}

img {
  position: relative;
}

/*----- CENTER BOX IN TOP IMAGE -----*/
.center-box {
  background: rgba(53, 166, 151, 0.8);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 5%;
}

.box-text {
  color: white;
  font-size: 40px;
  margin-bottom: 25px;
}

.BtnWhite,
a.BtnWhite {
  color: #35a697;
  background: #fff;
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  width: auto;
}

.BtnWhite:hover {
  background-color: #35a697;
  color: white;
  border: #fff 1px solid;
}

.image-and-text {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 20px;
}

img.solo-image {
  display: flex;
  overflow: hidden;
  transform: rotate(45deg);
  width: 500px;
  height: 500px;
}

.text {
  font-size: 16px;
  margin-left: 150px;
  width: 35%;
}

.text h1 {
  text-transform: uppercase;
}

@media screen and (max-width: 750px) {
  .center-box {
    display: none;
  }
}
